.about{
    height: 150vh;
    width: 100%;
}
.description{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.section{
    display: flex;
    flex-direction: row;
}
.profile img{
    
    
}