.about{
    height: 150vh;
    width: 100%;
}
.description{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 200px ;
    justify-content: s;
}
.section{
    display: flex;
    flex-direction: row;
}
.profile img{
    border-radius: 50%;
    height: 300px;
    margin-top: 70px;
    margin-left: 90px;
    
}