.about{
    height: 150vh;
    width: 100%;
}
.heading{
    font-weight: 900;
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 100px;
    text-align: center;
    border-bottom: 5px solid #000;
    border-bottom-width:  ;
    // width: 50%;
}
.description{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 200px ;
    justify-content: space-between;
    margin-left: 20px;
}
.section{
    display: flex;
    flex-direction: row;
}
.profile img{
    border-radius: 50%;
    height: 300px;
    margin-top: 70px;
    margin-left: 90px;
    
}