.contact {
  height: 100vh;
  width: 100%;
//   background: black;
}
.heading2 {
  color: beige;
  text-align: center;
  padding-top: 50px;
  font-weight: 900;
  font-size: 23px;
  text-transform: uppercase;
  &h2 {
    border-bottom: 5px solid #fff;
  }
//   &h6 {
//     padding-top: 35px;
//   }
}
.input{
    display: block;
    // flex-direction: row;
    margin-left: 20px;
}