.home {
  height: 100vh;
  width: 100%;
  font-family: "Open Sans Condensed", sans-serif;
}
.contents {
  justify-content: center;
  text-align: center;
  margin-top: 150px;
}
.workbtn {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  & a {
    border: 1px solid #333;
    
  }
}
