.portfolio {
  height: 100vh;
  width: 100%;
  background: rgb(248, 247, 247);
}
.projects ul {
  margin-top: 30px;

& li {
  display: inline;
  padding-left: 50px;
}

& a {
    background: white;
    color: ;
    border: 1px solid rgb(228, 2, 2);
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
    &:hover{
        background: rgb(243, 53, 53);
    }
  }
}
